#nav2 ul{
    list-style: none;
    display: flex;
    margin: 0 300px;
    margin-top: 40px;
    justify-content: center;

}

#nav2 ul li{    
    padding: 5px;
    margin: 5px;
    background-color: #E44E31;
    border-radius: 10px;
}

#nav2 ul li a{  
    text-decoration: none;
    font-weight: bold;
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 250px;
}

article{
    border-bottom: black solid 1px;
}

h2{
    background-image: radial-gradient(rgb(247, 185, 72), rgb(247, 163, 8));
    color: white;
}

p, h3{
    text-align: start;
}

p{
    text-align: justify;
}

h3{

    color: brown;
    text-decoration: underline;
}

article:last-child a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.column{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

span{
    font-size: 1.25em;
    font-weight: bold;
}

@media screen and (max-width: 1340px) {
    section{
        margin: 20px 50px;
    }
}

@media screen and (max-width: 777px) {
    iframe{
        width: 400px;
        height: 215px;
    }

    .column{
        flex-direction: column;
    }

    body{
        font-size:smaller;
    }  

    #nav2 ul{
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    #nav2 ul li{  
        width: 175px;
    }

    section img{
        width: 400px;
    }

    #Ressourcesutiles p img[alt="Logo Freecodecamp"]{
        height: 42px;
        width: 61px;
    }
    #Ressourcesutiles p img[alt="logo Openclassrooms"]{
        height: 42px;
        width: 42px;
    }
}
